.footer {
  padding: 5px 10px;
  display: flex;
  font-size: 13px;
  position: relative;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.selects {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  right: 50%;
}

.select-todo {
  margin: 0 10px;
  cursor: pointer;
  padding: 0 5px;

  &:hover {
    color: #cecece;
  }
}

.clear-btn {
  margin-left: auto;
  cursor: pointer;

  &:hover {
    color: #cecece;
  }
}

.selected {
  border: 1px solid #999999;
  border-radius: 3px;
}
