.todo-area {
  border-bottom: 2px solid #f5f5f5;
  padding: 10px 10px;
  display: flex;
  align-items: center;
}

.todo-label p {
  margin: 0;
  padding-left: 15px;
  word-break: break-all;
  max-width: 390px;
}

.todo-checked {
  text-decoration: line-through;
  color: #d6d6d6;
}

.todo-area input[type="checkbox"] {
  display: none;
}

.todo-area input[type="checkbox"] + label {
  display: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 25px;
  padding-right: 10px;
}

.todo-area input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  left: 0;
  top: 50%;
  border: 1px solid;
  border-color: #585753;
  background-color: #fff;
  border-radius: 50%;
}

.todo-area input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 18px;
  height: 9px;
  margin-top: -9px;
  top: 50%;
  left: 3px;
  transform: rotate(-45deg);
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-color: #093;
}

.delete-btn {
  margin-left: auto;
  cursor: pointer;
  color: #cc3333;
}
